<script>
  window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"><\/script>')
</script>
{% if shop.metafields.ACPTiered.EnableDisable == 'true' %}
{{ 'ac-tiered-style.css' | asset_url | stylesheet_tag }}
<div style="display:none" id="ac-money-format">{{shop.money_format}}</div>
<script type="text/javascript" defer>
   {% assign customerTag = '' %}
    var ACDiscountApp = ACDiscountApp || {};ACDiscountApp.Common = ACDiscountApp.Common || {};ACDiscountApp.CartPage = ACDiscountApp.CartPage || {};ACDiscountApp.PDPage = ACDiscountApp.PDPage || {};
  	ACDiscountApp.Common.GlobalFields = function () {
      {% assign isCustomer = false %}this.isCustomer = false;this.customerTag = '';{% if customer %}{% assign isCustomer = true %} this.isCustomer = {{ isCustomer }}; {% for tag in customer.tags %}{% if tag contains "acp_" %}{% assign customerTag = tag %} {% break %}{% endif %} {% endfor %} this.customerTag = '{{customerTag}}';{% endif %}
      this.currency = '{{shop.currency}}';this.currencySymbol = (document.getElementById("ac-money-format").textContent).trim();this.currencySymbol = this.currencySymbol.split("{");this.currencySymbol = this.currencySymbol[0];
      var calcTime = function(offset_) {d_ = new Date();utc_ = d_.getTime() + (d_.getTimezoneOffset() * 60000);nd_ = new Date(utc_ + (3600000 * offset_));return Date.parse(nd_.getMonth()+ 1 +"/"+nd_.getDate()+"/"+ nd_.getFullYear() +" "+nd_.getHours()+":"+nd_.getMinutes());} 
      this.StartEndDateValid = function (startDate, endDate) { var isStrtDtVald_ = false; var isEndDtVald_ = false; var todayDate_ = calcTime(globalFields.settings.timezone); if (startDate != null) { var startDate_ = Date.parse(startDate); isStrtDtVald_ = todayDate_ >= startDate_; } else { isStrtDtVald_ = true; } if (endDate != null) { var endDate_ = Date.parse(endDate); isEndDtVald_ = todayDate_ <= endDate_; } else { isEndDtVald_ = true; }if (isStrtDtVald_ && isEndDtVald_) { return true; }else { return false; } }

      var TimercalcTime = function(offset_) {
        d_ = new Date();
        utc_ = d_.getTime() + (d_.getTimezoneOffset() * 60000);
        nd_ = new Date(utc_ + (3600000 * offset_));
        return Date.parse(nd_.getMonth()+ 1 +"/"+nd_.getDate()+"/"+ nd_.getFullYear() +" "+nd_.getHours()+":"+nd_.getMinutes());
      } 
      this.TimerStartEndDateValid = function (startDate, endDate) { 
        var isStrtDtVald_ = false; var isEndDtVald_ = false; 
        var todayDate_ = calcTime(globalFields.settings.timezone); 
        if (startDate != null) { var startDate_ = Date.parse(startDate); isStrtDtVald_ = todayDate_ >= startDate_; }
        else { isStrtDtVald_ = true; } 
        if (endDate != null) { var endDate_ = Date.parse(endDate); isEndDtVald_ = todayDate_ <= endDate_; }
        else { isEndDtVald_ = true; }
        if (isStrtDtVald_ && isEndDtVald_) { return {valid: true, start_date: startDate, end_date: endDate } }else { return {valid:false} } }
      
    this.GetTierObject = function (metafieldArray, variantId) { var obj = metafieldArray.tier !== undefined ? metafieldArray.tier : metafieldArray; if (obj.entity_type === "variants") {  var variantIndex = obj.variant_ids.indexOf(variantId.toString());  if (variantIndex !== -1) { var objToReturn = { entity_type: "variants", discount_type: obj.discount_type[variantIndex], status: obj.status[variantIndex], tier_min: obj.tier_min[variantIndex], tier_max: obj.tier_max[variantIndex], tier_values: obj.tier_values[variantIndex], start_date: obj.start_date[variantIndex], end_date: obj.end_date[variantIndex] }; return objToReturn; } else { return undefined; } } else { return obj; } }

    this.ConvertToFixedDecimalString = function (amount) { return amount.toFixed(2); }

    this.ConvertToFixedDecimalNumber = function (amount) { return Number(amount.toFixed(2)); }
	{% if template.name == 'product' %} this.isProduct_Page = true; this.productId = '{{product.id}}'; {% endif %} {% assign isCartPage = false %} {% if template.name == 'cart' %} {% assign isCartPage = true %} {% endif %} this.isCartPage = {{ isCartPage }};  {% assign isProductPage = false %} {% if template.name == 'product' %} {% assign isProductPage = true %} {% endif %}  this.isProductPage = {{ isProductPage }}; this.settings = {{shop.metafields.ACPTiered.Settings | default: 'undefined' | json}}; }

    ACDiscountApp.PDPage.Global = function () { this.timerMetafield = {{shop.metafields.ACPTiered.Timer | default: 'undefined' | json}}; this.variantsPriceArray_PD=[]; {% assign tempCustomerTier = product.metafields.ACPTiered.CustomerTiers | where: "tag", customerTag | default: nil  %}   {% if customerTag != '' and tempCustomerTier %} this.productMetafield = {{tempCustomerTier[0]['tier'] | json}}; {% else %} this.productMetafield = {{product.metafields.ACPTiered.NormalTiers[0] | default: "[]" | json}}; {% endif %} {% for variant in product.variants %}this.variantsPriceArray_PD[{{ variant.id }}]= {{ variant.price }};{% endfor %}  }

    ACDiscountApp.CartPage.Global = function () { this.cartObj= {{cart | json | default : 'undefined'}};	{% capture results %} {% for item in cart.items %} { "product_id": {{item.product_id}}, "variant_id": {{item.variant.id }}, {% assign tempCustomerTierCart = item.product.metafields.ACPTiered.CustomerTiers | where: "tag", customerTag | default: nil  %} {% if customerTag != '' and tempCustomerTierCart %} "tiers" : [{{tempCustomerTierCart[0]['tier'] | json}}] {% else %} "tiers" : {{item.product.metafields.ACPTiered.NormalTiers | default: '[]' | json}} {% endif %}  }{% unless forloop.last %},{% endunless %} {% endfor %} {% endcapture %} this.cartTiersArray = [{{results}}] }
  	var globalFields = new ACDiscountApp.Common.GlobalFields();
</script>
<script type="text/javascript" src="{{ 'ac-tiered-product.js' | asset_url}}" defer></script>
<script type="text/javascript" src="{{ 'ac-tiered-cart.js' | asset_url}}" defer></script>
<script type="text/javascript" src="{{ 'ac-recommended-products.js' | asset_url}}" defer></script>
{% endif %}
{% include 'ac-add-ons' %}