

<!-- discount script -->

{% assign customer_tag = "" %}

{% if customer %}

{% for tag in customer.tags %}

{% for meta in shop.metafields.customer_tags %}

{% assign tag_name = meta.last | split: "," %}

{% if tag_name[0] contains tag %}

{% assign customer_tag = tag %}

{% endif %}

{% endfor %}

{% endfor %}

{% endif %}

{% assign show_note = true %}
{% assign store_logo = '' %}
{% assign checkout_heading = 'Your Order details' %}
{% assign po_payment = 'Select payment option' %}
{% assign po_pay_now = 'Pay Now' %}
{% assign po_pay_later = 'Pay Later' %}
{% assign cp_shipping_address = 'Shipping Address' %}
{% assign cp_first_name = 'First Name' %}
{% assign cp_last_name = 'Last Name' %}
{% assign cp_email = 'Email' %}
{% assign cp_company = 'Company' %}
{% assign cp_address1 = 'Address Line 1' %}
{% assign cp_address2 = 'Address Line 2' %}
{% assign cp_city = 'City' %}
{% assign cp_zip = 'Zip Code' %}
{% assign cp_phone = 'Phone' %}
{% assign cp_notes = 'Order Note' %}
{% assign cp_continue = 'Continue to place order' %}
{% assign cp_calculating_shipping = 'Calculating shipping...' %}
{% assign cp_return = 'Return to Cart' %}
{% assign cp_shipping = 'Shipping' %}
{% assign cp_total = 'Total' %}
{% assign cp_place_order = 'Place Order' %}
{% assign cp_loading = 'Loading...' %}
{% assign cp_thankyou_title = 'Thank you for your order!' %}
{% assign cp_thankyou_content = 'An email receipt containing information about your order will soon follow. Please keep it for your records.' %}
{% assign cp_thankyou_continue = 'Continue shopping' %}