{% assign later_tag = "Invoice" %}

{% include "CML_discount" %}

{% if customer.tags contains later_tag or later_tag == blank %}

<p id="CML_select_payments" class="cart-attribute__field CML_select_payments" style="margin-bottom: 30px;">

  <label style="display:inline-block">{{ po_payment }}</label>

  <select id="CML_payment" name="attributes[CML_payment]" class="CML_payments_options">

    {% if po_pay_now != blank %}
    <option value="pay_now"{% if cart.attributes["CML_payment"] == "pay_now" %} selected{% endif %}>{{ po_pay_now }}</option>
    {% endif %}

    {% if po_pay_later != blank %}
    <option value="pay_later"{% if cart.attributes["CML_payment"] == "pay_later" %} selected{% endif %}>{{ po_pay_later }}</option>
	{% endif %}

  </select>

</p>

{% endif %}