<div data-register-form>
    {% form 'create_customer' %}
    {% render 'form__error', form: form %}
    {% comment %}
    <label>Title: </label>
    {% assign titles = settings.register_title | split: "," %}
    <select name="customer[title]" class="form-control">
        {% for title in titles %}
            <option value="{{title}}">{{title}}</option>
        {% endfor %}
    </select>
    {% endcomment %}
    <input type="text" name="customer[first_name]" required placeholder="{{ 'customer.register.first_name' | t }}*" class="form-control" />
    <input type="text" name="customer[last_name]" required placeholder="{{ 'customer.register.last_name' | t }}*" class="form-control" />
    <input type="text" name="customer[address]" required placeholder="{{ 'customer.register.address' | t }}*" class="form-control" />
    <input type="text" name="customer[city]"  required placeholder="{{ 'customer.register.city' | t }}*" class="form-control" />
    <label>Province*: </label>
    <select name="customer[province]" class="form-control" required>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
    </select>
    <input type="text" name="customer[postal_code]" required placeholder="{{ 'customer.register.postal_code' | t }}*" class="form-control" />
    <label>Country*: </label>
    <input type="text" name="customer[country]" id="country" required>
    <input type="text" name="customer[phone]" required placeholder="{{ 'customer.register.phone' | t }}*" class="form-control" />
    <input type="text" name="customer[fax]" placeholder="{{ 'customer.register.fax' | t }}" class="form-control" />
    {% comment %}<input type="text" name="customer[email]" required placeholder="{{ 'customer.login.email' | t }}*" class="form-control" />{% endcomment %}
    <input type="text" name="customer[company]" required placeholder="{{ 'customer.register.company' | t }}*" class="form-control" />
    <input type="text" name="customer[division]" required placeholder="{{ 'customer.register.division' | t }}*" class="form-control" />
    <input type="text" name="customer[pst_number]" placeholder="{{ 'customer.register.pst_number' | t }}" class="form-control" />
    <input type="text" name="customer[qst_number]" placeholder="{{ 'customer.register.qst_number' | t }}" class="form-control" />
    <label>Preferred Language: </label>
    {% assign languages = settings.register_language | split: "," %}
    <select name="customer[language]" class="form-control">
        {% for language in languages %}
            <option value="{{language}}">{{language}}</option>
        {% endfor %}
    </select>
    <input type="email" name="customer[email]" required placeholder="{{ 'customer.login.email' | t }}*" class="form-control" />
    <input type="password" name="customer[password]" required placeholder="{{ 'customer.login.password' | t }}" class="form-control" />
    {% comment %}
    <div class="mt-3 text-color-secondary">
        {{ 'customer.register.description' | t }}
    </div>
    {% endcomment %}

    <button class="mt-6 mb-3 w-full sf__btn sf__btn-primary">
        {{ 'customer.register.title' | t }}
    </button>

    {% comment %}
    <a class="w-full mt-[12xpx] sf__btn sf__btn-secondary" href="{{ routes.account_login_url }}">
        {{ 'customer.login.title' | t }}
    </a>
    {% endcomment %}
    {% endform %}
</div>

<link type="text/css" href="{{ 'countrySelect.css' | asset_url }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ 'countrySelect.js' | asset_url }}" defer="defer"></script>

<script>
    $( document ).ready(function() {
        $("#country").countrySelect({
            defaultCountry: 'ca'
        });
    });
</script>