{% comment %} Note: if manual install change qb_install_type = 'manual' {% endcomment %}

{% assign qb_install_type = 'auto' %}
{% assign qb_install_variant_select_event_type = 'auto' %}
{% assign qb_calculate_cart_on_page_load = 1 %}
{% assign qb_calculate_cart_on_cart_js_call = 1 %}

{% capture qb_selectors %}
<script type="text/javascript">
  if (typeof sc_gqbreak_app_global === "undefined") {
    sc_gqbreak_app_global = {};
  }
  sc_gqbreak_app_global.store_grid_placeholder={position: '', selector: ''};
  sc_gqbreak_app_global.store_variant_select_selector='';
  sc_gqbreak_app_global.store_btn_checkout_selectors=[];
  sc_gqbreak_app_global.store_btn_checkout_parent_selector='';
  sc_gqbreak_app_global.store_quantity_input_selectors=[];  
  sc_gqbreak_app_global.store_subtotal_selectors=[];
  sc_gqbreak_app_global.store_discount_code_box_placeholder={position: '', selector: ''};
  sc_gqbreak_app_global.store_note_selectors=[];  
  
  
  sc_gqbreak_app_global.store_line_price_selectors=[];
  sc_gqbreak_app_global.store_unit_price_selectors=[];
  
  sc_gqbreak_app_global.store_collection_page_price_selector='';

  sc_gqbreak_app_global.qb_calculate_cart_on_cart_js_call = {{qb_calculate_cart_on_cart_js_call}};
  sc_gqbreak_app_global.loading_indicator_url='{{ 'scqb-2017210342-loading-indicator.gif' | asset_url }}';
</script>
{% endcapture %}

{% capture qb_discount_container %}
<div class="sc-qb-discount-container-2017210342">
      <div class="sc-qb-discount-input-group">
        <input class="sc-qb-discount-2017210342" type="text" value="" name="discount" placeholder="Discount Code">
        <span class="sc-qb-discount-input-group-btn">
          <button type="button" class="sc-qb-discount-btn-apply-2017210342">Apply</button>
        </span>
      </div>
      <div class="msg"></div>
	</div>
{% endcapture %}

<script type="text/template" id="tpl_qb_discount_container_2017210342">
{{ qb_discount_container }}
</script>
<script type="text/template" id="tpl_qb_price_tier_discount_container_2017210342">
	<div class="sc-qb-price-tier-discount-container-2017210342">
    <div class="sc-qb-price-tier-discount-row-2017210342 sc-qb-price-tier-discount-savings-2017210342"><span class="sc-qb-price-tier-discount-label-2017210342">Savings: </span><span class="sc-qb-price-tier-discount-amount-2017210342"><%=SC_Shopify.formatMoney(total_discount_amt*100,store_money_format)%></span></div>
    <div class="sc-qb-price-tier-discount-row-2017210342 sc-qb-price-tier-discount-subtotal-2017210342"><span class="sc-qb-price-tier-discount-label-2017210342">Subtotal After Savings: </span><span class="sc-qb-price-tier-discount-amount-2017210342"><%=SC_Shopify.formatMoney(total_price*100,store_money_format)%></span></div>
    </div>
</script>

<script>
var sc_qb_script_2017210342="";

//You need to make it true for enabling minimum price feature
var sc_qb_show_qb_min_prices_catalog_2017210342=false;

var store_money_format="{{shop.money_format}}";
var store_default_currency="{{shop.currency}}";
var sc_qb_settings="{{shop.metafields.QBGroups.QBSettings}}";
</script>
{% if sc-quantity-break != 'sc-qb-cart-item-script' %}
{{ 'sc-qb-2017210342.css' | asset_url | stylesheet_tag }}
{{ 'scqb-tmp-2017210342.js' | asset_url | script_tag }}
{{ 'scqb-main-2017210342.js' | asset_url | script_tag }}
{% endif %}

{{ qb_selectors }}



{% if sc-quantity-break == 'sc-qb-product-script' or sc-quantity-break == null and template.name == 'product' %}

<script>
sc_qb_script_2017210342="sc-qb-product-script";
</script>



{% render "sc-quantity-break-tpls" %}
<script>
  //var has_app_js_loaded=false;
  var selected_variant = {{product.selected_or_first_available_variant | json}};  
  var selected_product = {{product | json}};
  var selected_collections = {{product.collections | map: 'id' | json}};
  //var sc_qb_sel_product_groups=null;

  {% if qb_install_variant_select_event_type=='manual' %}
  function SC_QB_On_Variant_Select(variant){
	selected_variant=variant;
    sc_gqbreak_app_global.SC_QB_On_Variant_Select(variant.id);
	                              
  }
  {% endif %}
  
  
</script>
{% if sc-quantity-break == 'sc-qb-product-script' %}
<div id="div-sc-qb-2017210342"></div>
{% endif %}


{%endif%}

{% if sc-quantity-break == 'sc-qb-cart-item-script' %}
<script>
sc_qb_script_2017210342="sc-qb-cart-item-script";
</script>
{%endif%}

{% if sc-quantity-break == 'sc-qb-cart-script' or sc-quantity-break == null and template.name == 'cart' %}
<script>
sc_qb_script_2017210342="sc-qb-cart-script";
</script>
{%endif%}

{% if sc-quantity-break == 'sc-qb-other-pages-script' %}
<script>
sc_qb_script_2017210342="sc-qb-other-pages-script";
</script>
	{% if template.name != 'product' and template.name != 'cart' %}	
	{% render "sc-quantity-break-tpls" %}
  	{% endif %}
{%endif%}

<script type="text/template" id="tpl_sc_qb_custom_style_2017210342">
<style type="text/css">
<%= sc_qb_settings.custom_css %>
</style>
</script>
<script>
{% if customer %}
  var sc_qb_logged_in_customer = {
    'id':{{customer.id|json}},
    'order_counts': {{customer.orders_count}},
    'address':{{customer.address |json}},
    'default_address' : {{customer.default_address|json}}
  };
{% else %}
	var sc_qb_logged_in_customer = null;
{% endif %}
</script>

{% if sc-quantity-break == 'sc-qb-discount-input' %}
<script>
sc_qb_script_2017210342="sc-qb-cart-script";
</script>
{{ qb_discount_container }}
{% endif %}

<style type="text/css">
  .sc-qb-price-cross-2017210342{
    text-decoration: line-through;
	opacity: 0.6;
    margin-right: 5px;
  }
  .sc-qb-money-cross-2017210342{
    text-decoration:  line-through;
  }
</style>

<script>  
  function sc_js_loader_ready(){       
    
    {% if template.name != 'cart' %}
    
    {% if qb_calculate_cart_on_page_load == 1 %}
    {% if cart.item_count > 1 %}
    setTimeout(function(){
        if(ScJQuery_Qbreak('form[action="/cart"]').length > 0){ sc_gqbreak_app_global.process_cart(false); }
        //sc_gqbreak_app_global.process_cart(false);
    },3000);
    {% endif %}
    {% endif %}
    	
      
    	/*MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
        var sc_qb_observer = new MutationObserver(function(mutations, observer) {
            if(ScJQuery_Qbreak('body').find('form[action="/cart"]').not('[sc-qb-cart-processed-2017210342="1"]').length > 0){
                  sc_gqbreak_app_global.process_cart();
                  ScJQuery_Qbreak('body').find('form[action="/cart"]').not('[sc-qb-cart-processed-2017210342="1"]').attr('sc-qb-cart-processed-2017210342','1');

                }
        });

        sc_qb_observer.observe(ScJQuery_Qbreak('body').get(0), {
          subtree: true,
          attributes: true
        });*/
    
    {% else %}
    ScJQuery_Qbreak("body").off('click','a[href="/cart"]');
    ScJQuery_Qbreak("body").on('click','a[href="/cart"]',function(evt){
      	evt.preventDefault();
    	window.location="/cart";
    });
    
    {% endif %}
    
  }
</script>

<div id="min_sc_qb_qty_warning" style="display:none; cursor: default"></div> 
<script type="text/template" id="tpl_min_sc_qb_qty_warning"> 
  <h5><%= settings.min_qty_popup_header %></h5>
  <div style="overflow:auto; height:250px">
  <table>
    <thead>
      <tr>
        <th><strong><%= settings.min_qty_popup_grid_item_text %></strong></th><th><strong><%= settings.min_qty_popup_grid_min_qty_text %></strong></th>
      </tr>
    </thead>
    <tbody>
    <% for(i=0;i<messages.length;i++) { %>
      <tr>
        <td><%= messages[i].item_title %></td>
        <td><%= messages[i].min_qty %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  </div>
	<div style="padding-top:10px; border-top:3px groove">
    <button type="button" id="btn_min_sc_qb_qty_warning" style="padding:10px 20px;">OK</button>
  	</div>
</script>

<script type="text/template" id="tpl_sc_qb_collection_min_price">
As Low As <%= qb_min_price_text %>
</script>