<script type="text/javascript">var verifyCustmersScripttags = [{"scripttags":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main.js","scripttags_pro":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_pro.js"},{"scripttags":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_v2.js","scripttags_pro":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_v2_pro.js"},{"scripttags":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_v3.js","scripttags_pro":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_v3_pro.js"},{"scripttags":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_v4.js","scripttags_pro":"storage.googleapis.com\/singleton-software-bucket\/verifycustomers\/prod\/main_v4_pro.js"}];</script>{% assign vcElementsToShowMessageForVisitors = '.hidePrice' %}
<script type="text/javascript">
	var customerApproved = false;
  	var customerAccountEnabled = false;
  	var vcElementsToShowMessageForVisitors = '{{vcElementsToShowMessageForVisitors}}';
</script>
{% if shop.customer_accounts_enabled %}
	<script type="text/javascript">
		var customerAccountEnabled = true;
	</script>
	{% assign hideAllPrices = true %}
	{% assign customerStatus = 2 %}
	{% assign customerHaveToBeApproved = 2 %}
	{% if shop.metafields.verify_customer.have_to_be_approved %}
		{% assign customerHaveToBeApproved = shop.metafields.verify_customer.have_to_be_approved %}
	{% endif %}
    {% if customer %}
		{% assign customerID = customer.id | downcase %}
		{% for i in (0..shop.metafields.verify_customer.groups_count) %}
			{% assign customersKey = 'customers' | append: i %}
			{% if shop.metafields.verify_customer[customersKey][customerID] %}
				{% assign customerStatus = shop.metafields.verify_customer[customersKey][customerID] %}
			{% endif %}
		{% endfor %}
    {% endif %}
	{% if customerStatus == 2 %}
		{% if customerHaveToBeApproved == 0 or customerHaveToBeApproved == 2 %}
          	{% assign hideAllPrices = false %}
			<script type="text/javascript">
              	var customerApproved = true;
			</script>
        {% endif %}
	{% elsif customerStatus == 1 %}
		{% assign hideAllPrices = false %}
		<script type="text/javascript">
			var customerApproved = true;
		</script>
	{% endif %}
	{% if hideAllPrices %}
		{% if template.name != "cart" and template.name != "checkout" %}
			<div id="verifyCustomersStyles">
                <style>
                    {{vcElementsToShowMessageForVisitors}} {display:none !important;}
                </style>
			</div>
        {% endif %}
	{% endif %}
{% endif %}
{% include "verify-customer-config" %}

{% if template.name != "cart" and template.name != "checkout" %}
    <script type="text/javascript">
        var intervalId = null;
        var varCounter = 0;
        var containScriptTagFirstControll = false;
        var containScriptTagSecondControll = false;
        window.onload = function() {
            vcAllScripts = document.getElementsByTagName("script");
            for (var i = 0; i < vcAllScripts.length; i++) {
                for (var j = 0; j < verifyCustmersScripttags.length; j++) {
                    if (vcAllScripts[i].src.includes(verifyCustmersScripttags[j].scripttags) || vcAllScripts[i].src.includes(verifyCustmersScripttags[j].scripttags_pro)) {
                        containScriptTagFirstControll = true;
                    }
                }
            }
            if (!containScriptTagFirstControll) {
                intervalId = setInterval(function() {
                    if (varCounter < 5) {
                        varCounter++;
                        vcAllScripts = document.getElementsByTagName("script");
                        for (var i = 0; i < vcAllScripts.length; i++) {
                            for (var j = 0; j < verifyCustmersScripttags.length; j++) {
                                if (vcAllScripts[i].src.includes(verifyCustmersScripttags[j].scripttags) || vcAllScripts[i].src.includes(verifyCustmersScripttags[j].scripttags_pro)) {
                                    containScriptTagSecondControll = true;
                                }
                            }
                        }
                    } else {
                        if (!containScriptTagSecondControll) {
                            verifyCustomersStyles = document.getElementById("verifyCustomersStyles");
                            verifyCustomersStyles.parentNode.removeChild(verifyCustomersStyles);
                            verifyCustomersConfigStyles = document.getElementById("verifyCustomersConfigStyles");
                            verifyCustomersConfigStyles.parentNode.removeChild(verifyCustomersConfigStyles);
                        }
                        clearInterval(intervalId);
                    }
                }, 100);
            }
        }
    </script>
{% endif %}
