<script type="text/javascript">var showMessageBoxInsteadOfPrices = '1';var messageForVisitors = 'Approved {LOGIN} customers can see price and add to cart button';var loginLinkText = 'logged-in';var registrationLinkText = 'registered';var backgroundColorOfMassageBox = '#f8f8f8';var textColorOfMassageBox = '#1A3C6D';var fontSize = '13';var showBorderOnMessageBox = '0';var showBorderRadiusOnMessageBox = '1';var inheritFonts = '1';var borderWidth = '1';var borderColorOfMassageBox = '';var returnToPreviousPage = '1';var canApproveBasedOnTags = '0';var hasShowHideProducts = '1';var showHideProductsType = '1';var smallCartpath = 'a[href*="/cart"]';var addToCartButtonPath = 'form[action*="/cart/add"] button, form button[name="add"], form[action*="/cart/add"] input[type="submit"],.shopify-payment-button, .product__policies';var customDisabledPaths = '';var sendMailToAdminAfterRegistration = '1';var adminEmails = 'Cesar.Hesse@kraftheinz.com. sam@shoplabs.io';var sendMailToCustomerAfterApprove = '1';var redirectToPage = 'pages/application-received';var displayType = '2';var vc_show_hide_products = ["drip-tray-for-large-keystone-automatic-dispenser","large-keystone-ketchup","large-keystone-ketchup-dispenser-with-automatic-lid"];var vcIsCart = false;{% if template.name == "cart" or template.name == "checkout" %}vcIsCart = true;{% endif %}var vcIsHomePage = false;{% if template.name == "index" %}vcIsHomePage = true;{% endif %}var vcIsAccountPage = false;{% if template.name == "account" %}vcIsAccountPage = true;{% endif %}var vc_customer_tags = JSON.parse(JSON.stringify({{ customer.tags | json }}));var vc_approving_tags = JSON.parse(JSON.stringify([]));</script>{% if hideAllPrices %}<div id="verifyCustomersConfigStyles"><style>a[href*="/cart"]{display:none !important}form[action*="/cart/add"] button, form button[name="add"], form[action*="/cart/add"] input[type="submit"],.shopify-payment-button, .product__policies{display:none !important}{display:none !important}</style></div>{% endif %}<script type="text/javascript">
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    var vc_customerCanBeRedirected = false;
    {% if request.path == '/' and customer and customerStatus == 2 %}
        vc_customerCanBeRedirected = true;
    {% endif %}

    //ked sa pretazuje tato funkcia, treba ju dat to initu, tesne pred volanie verify-customer-config
    callFunctionVCLiquid('redirectCustomerToSelectedPage', []);
    function redirectCustomerToSelectedPage() {
        if (vc_customerCanBeRedirected && typeof redirectToPage !== 'undefined') {
            if (redirectToPage.length > 0) {
                customerID = '{{ customer.id }}';
                if (getCookie(customerID).length == 0) {
                    setCookie(customerID, true, 9999);
                    window.location.replace(redirectToPage);
                }
            }
        }
    }

    function callFunctionVCLiquid(fnName, arguments) {
        if (typeof window[fnName + 'Override'] !== 'undefined') {
            return window[fnName + 'Override'](arguments);
        } else {
            return window[fnName](arguments);
        }
    }
</script>
