{% comment %}Start Settings{% endcomment %}
{% raw %}
<script type="text/javascript">
  if(typeof wn === "undefined") {
    wn = {};
  }

  if(typeof wn.datastore === "undefined") {
    wn.datastore = {};
  }

  if(typeof wn.datastore.discount_groups === "undefined"){
    wn.datastore.discount_groups = [];
  }

  if(typeof wn.datastore.net_order_tags === "undefined") {
    wn.datastore.net_order_tags = [];
  }



  wn.datastore.shop = {"id":null,"shopify_domain":"khc-equip.myshopify.com","app_enabled":true,"primary_domain":"khc-equip.myshopify.com","timezone":"America/Chicago","cart_subtotal_selector":null,"checkout_button_selector":null,"currency":"CAD","money_format":"\u003cspan class=hidePrice\u003e${{amount}}\u003c/span\u003e","money_with_currency_format":"\u003cspan class=hidePrice\u003e${{amount}} CAD\u003c/span\u003e","form_selector":null,"min_cart_value_warning":"You must have a cart subtotal greater than {{amount}} to qualify for discounts.","agree_to_terms_selector":"input[type='checkbox']#agree","custom_css":null,"quantity_selector":null,"cart_form_selector":null,"minimum_cart_value_label":"Minimum Cart Value","discount_label":"Discount","cart_warning_label":"You must have a cart subtotal greater than {{minimum_cart_value}} to qualify for discounts.","multiple_discount_group_behavior":"apply_greatest_discount","multiple_groups_notice":"Congrats! You qualify for discounts from multiple groups. At checkout, we'll automatically apply the group that gives you the greatest discount.","next_tier_offer":"Unlock even greater discounts when your cart subtotal reaches {{amount}}.","discount_log_text":"You saved {{total_discount_amount}} on {{product_title}} ({{discount_group_title}})","enable_discount_log":true,"minimum_cart_quantity_label":"Minimum Cart Quantity","minimum_line_item_value_label":"Minimum Line Item Value","minimum_line_item_quantity_label":"Minimum Line Item Quantity","min_cart_quantity_warning":"You must have at least {{amount}} items in your cart to qualify for discounts.","min_line_item_value_warning":"Add at least {{amount}} worth of {{product}} to cart to qualify for discounts.","min_line_item_quantity_warning":"Add at least {{amount}} {{product}} to cart to qualify for discounts.","next_tier_cart_quantity_offer":"Unlock even greater discounts when you have at least {{amount}} items in your cart.","next_tier_line_item_quantity_offer":"Unlock even greater discounts when you have at least {{amount}} {{product}} in your cart.","next_tier_line_item_value_offer":"Unlock even greater discounts when you have at least {{amount}} worth of {{product}} in your cart.","minimum_tier_warnings_enabled":true,"next_tier_offers_enabled":true,"net_order_success_message":"Thank You! Your order has been submitted.","net_order_submit_button_text":"Submit Order","net_order_button_text":"Checkout with {{net_order_title}}","net_order_merchant_notification":true,"net_order_customer_invoice_email":true,"net_order_customer_invoice_email_subject":"Order {{order_number}} from {{shop_name}}","net_order_customer_invoice_email_content":"Thank you for your order. Please see below for a copy of your invoice. Payment is due in {{grace_period_in_days}} days on {{grace_period_due_date}}.","show_discount_log_on_ajax_carts":false,"show_net_order_tag_title":true,"ajax_cart_integration_enabled":true,"quantity_button_selector":null,"discounted_price_label":"Discounted Price","variant_selector":null,"swatch_selector":null,"table_placement_selector":null,"mutation_ids":null,"mutation_classes":null,"shipping_address_label":"Shipping Address","shipping_methods_label":"Shipping Methods","net_orders_checkout_label":"Net Orders Checkout","item_label":"Item","price_label":"Price","qty_label":"Qty","total_label":"Total","subtotal_label":"Subtotal","order_notes_label":"Order Notes","net_order_get_rates_button_text":"Get Shipping Rates","complete_form_message":"You must complete your shipping address and select a shipping rate before submitting your order.","no_rates_found_message":"Unable to find shipping rates for your address. Double check your address or contact support for assistance.","free_shipping_label":"Free Shipping","flat_rate_shipping_label":"Flat Rate Shipping","arrives_in_single":"Arrives in {{num_of_days}} days","arrives_in_range":"Arrives in {{min_num_of_days}} to {{max_num_of_days}} days","delivery_date_single":"Estimated Delivery Date: {{delivery_date}}","delivery_date_range":"Estimated Delivery Date: {{earliest_delivery_date}} to {{latest_delivery_date}}","method_label":"Method","speed_label":"Speed","shipping_label":"Shipping","shipping_rates_form_position":null,"shipping_rates_form_placement_selector":null,"theme_id":2,"before_shipping_subtotal_label":"Before Shipping","shipping_rate_label":"Shipping Rate","regular_cart_subtotal_table_placement_selector":null,"discount_log_placement_selector":null,"discount_log_position":null,"net_order_success_redirect_url":null,"minimum_selected_products_quantity_label":"Minimum Selected Products Quantity","minimum_selected_products_value_label":"Minimum Selected Products Value","min_selected_products_value_warning":"Add at least {{amount}} worth of products from {{discount_group_title}} to cart to qualify for discounts.","next_tier_selected_products_value_offer":"Unlock even greater discounts when you have at least {{amount}} worth of products from {{discount_group_title}} in your cart.","min_selected_products_quantity_warning":"Add at least {{amount}} products from {{discount_group_title}} to cart to qualify for discounts.","next_tier_selected_products_quantity_offer":"Unlock even greater discounts when you have at least {{amount}} products from {{discount_group_title}} in your cart.","product_selector_container":null,"discount_table_config":{"discount_table_type":"default-grid","discount_table_name":"Default Grid","show_inline_maximum_qty":false,"show_maximum_qty":false,"show_discount_value":true,"show_discounted_price":true,"required_amount_label":"{{min_requirement}}","discount_value_col_label":"{{discount_value}}","discounted_price_col_label":"{{discounted_price}}","bg_header_color":"","bg_table_row_color":"","border_color":"#ddd","text_th_color":"","text_td_color":"","border_type":"solid","table_font_size":14,"border_width":1,"border_radius":1,"table_title_color":"","table_description_color":"","table_title_font_size":20,"table_description_font_size":14},"reload_cart_page":false,"percentage_discount_title":"Percentage Discount","fixed_amount_discount_title":"Fixed Amount Discount"};
  wn.datastore.discount_groups = [];
  wn.datastore.theme_setting = {"id":2,"theme_name":"Default","cart_subtotal_selector":".totals__subtotal-value, .cart__subtotal:visible, h2.subtotal:visible, p.subtotal_amount:visible, span.total:visible, .mini-cart__total-price:visible, .cart__total:visible, #cartform div.align-right h2:visible, .ajaxcart__subtotal:visible, .cart-total:visible, #basket-right h4:visible, .subtotal .price:visible, .cart-footer__subtotal:visible, .cart-subtotal--price:visible, .cart-drawer__subtotal-price:visible, .js-contents .totals:visible, .cart-subtotal__price:visible","checkout_button_selector":"input[type='submit'].action_button.right:visible,input[name='checkout']:visible,button[name='checkout']:visible,[href$='checkout']:visible,input[name='goto_pp']:visible,button[name='goto_pp']:visible,input[name='goto_gc']:visible,button[name='goto_gc']:visible,.additional-checkout-button:visible,.google-wallet-button-holder:visible,.amazon-payments-pay-button:visible","form_selector":"form[action=\"/cart/add\"]","quantity_selector":"input.cart-item__qty-input, input.quantity, input[name='updates[]'], input[id^='updates_'], input[id^='Updates_'], input[name^='updates_'], input.cart__qty-input, input.count, input.js-qty__input, input.js-qty__num, input.quantity-selector, input.cart__quantity-selector, input.js--num, input.cart-drawer__item-quantity","cart_form_selector":"form[action$='cart']","quantity_button_selector":"form[action=\"/cart\"] .js--qty-adjuster, form[action=\"/cart\"] .js-qty__adjust","variant_selector":"form[action^='/cart/add']:first select:visible, .radio-wrapper fieldset, form[action^='/cart/add']:first input[type='radio']","swatch_selector":".swatchColor, .panda-swatch, button.swatch, div.swatch-element, div.swatch-item, .product-variant ul li, div.swatches-container ul.options li a, div.template--product-variants-container div.product-variant-group label","mutation_ids":"","mutation_classes":"","table_placement_selector":"","shipping_rates_form_position":"after","shipping_rates_form_placement_selector":"form[action^='/cart']:visible table:first, .cart-row:nth-last-child(2)","theme_css":"","created_at":"2018-08-22T19:11:37.149Z","updated_at":"2021-10-12T17:25:04.058Z","regular_cart_subtotal_table_placement_selector":".cart__subtotal:visible, h2.subtotal:visible, p.subtotal_amount:visible, span.total:visible, .mini-cart__total-price:visible, .cart__total:visible, #cartform div.align-right h2:visible, .ajaxcart__subtotal:visible, .cart-total:visible, #basket-right h4:visible, .subtotal .price:visible, .cart-footer__subtotal:visible, .cart-subtotal--price:visible, .cart-drawer__subtotal-price:visible","discount_log_placement_selector":null,"discount_log_position":null,"product_selector_container":"#productPrice-product-template","line_item_original_price_selector":null,"line_item_total_price_selector":null};
  wn.datastore.net_order_tags = [];

</script>
{% endraw %}