{%- capture page_title -%}
{{ 'customer.addresses.title' | t }}
{%- endcapture -%}
{% comment %}{% render 'page-title', title: page_title %}{% endcomment %}

<div class="md:px-6 lg:px-12 xl:px-16 2xl:px-48 py-8 md:py-12 lg:py-20 flex">
    {% render 'customer-navs' %}
    <div class="px-4 md:px-8 xl:px-16 2xl:px-24 md:w-5/6">
        <div class="mb-10">
            <h2 class="text-2xl font-medium mb-6">{{ 'customer.addresses.your_addresses' | t }} ({{ customer.addresses_count }})</h2>
            <button class="sf__btn sf__btn-primary sf-customer__add-new">{{ 'customer.addresses.add_new' | t }}</button>
            <div data-address-form>
                {% render 'form__address', new_or_edit: 'new', address: customer.new_address %}
            </div>
        </div>
        {% render 'customer-addresses' %}
    </div>
</div>

{%- comment -%}
{% paginate customer.addresses by 5 %}

<header role="banner">
    <h1>{{ 'customer.account.title' | t }}</h1>
</header>

<p>
    <a href="/account">{{ 'customer.account.return' | t }}</a>
</p>

<div data-address>
    <button type="button" data-address-toggle>{{ 'customer.addresses.add_new' | t }}</button>

    <div data-address-form class="hide">
        {% form 'customer_address', customer.new_address %}
        <h2>{{ 'customer.addresses.add_new' | t }}</h2>

        <div data-address-fields class="address-form">
            <div>
                <label for="AddressFirstNameNew">
                    {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text" name="address[first_name]" id="AddressFirstNameNew" value="{{ form.first_name }}"
                    autocapitalize="words">
            </div>
            <div>
                <label for="AddressLastNameNew">
                    {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text" name="address[last_name]" id="AddressLastNameNew" value="{{ form.last_name }}"
                    autocapitalize="words">
            </div>
            <div>
                <label for="AddressCompanyNew">
                    {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text" name="address[company]" id="AddressCompanyNew" value="{{ form.company }}"
                    autocapitalize="words">
            </div>
            <div>
                <label for="AddressAddress1New">
                    {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text" name="address[address1]" id="AddressAddress1New" value="{{ form.address1 }}"
                    autocapitalize="words">
            </div>
            <div>
                <label for="AddressAddress2New">
                    {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text" name="address[address2]" id="AddressAddress2New" value="{{ form.address2 }}"
                    autocapitalize="words">
            </div>
            <div>
                <label for="AddressCityNew">
                    {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text" name="address[city]" id="AddressCityNew" value="{{ form.city }}"
                    autocapitalize="words">
            </div>
            <div>
                <label for="AddressCountryNew">
                    {{ 'customer.addresses.country' | t }}
                </label>
                <select name="address[country]" id="AddressCountryNew" data-default="{{ form.country }}">
                </select>
            </div>
            <div>
                <label for="AddressProvinceNew">
                    {{ 'customer.addresses.province' | t }}
                </label>
                <select name="address[province]" id="AddressProvinceNew" data-default="{{ form.province }}">
                </select>
            </div>
            <div>
                <label for="AddressZipNew">
                    {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text" name="address[zip]" id="AddressZipNew" value="{{ form.zip }}"
                    autocapitalize="characters">
            </div>
            <div>
                <label for="AddressPhoneNew">
                    {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel" name="address[phone]" id="AddressPhoneNew" value="{{ form.phone }}"
                    pattern="[0-9\-]*">
            </div>
        </div>
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_new">
            {{ 'customer.addresses.set_default' | t }}
        </label>

        <button type="submit">{{ 'customer.addresses.add' | t }}</button>
        <button type="button" data-address-toggle>
            {{ 'customer.addresses.cancel' | t }}
        </button>
        {% endform %}
    </div>
</div>

<h2>{{ 'customer.addresses.title' | t }}</h2>

{% for address in customer.addresses %}

<div data-address>
    {% if address == customer.default_address %}
    <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
    {% endif %}
    {{ address | format_address }}

    <button type="button" data-address-toggle>
        {{ 'customer.addresses.edit' | t }}
    </button>
    <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}"
        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">
            {{ 'customer.addresses.delete' | t }}
        </button>
    </form>

    <div data-address-form class="hide">
        {% form 'customer_address', address %}

        <h4>{{ 'customer.addresses.edit_address' | t }}</h4>
        <div data-address-fields class="address-form">
            <div>
                <label for="AddressFirstName_{{ form.id }}">
                    {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}"
                    value="{{ form.first_name }}" autocapitalize="words">

            </div>
            <div>
                <label for="AddressLastName_{{ form.id }}">
                    {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}"
                    value="{{ form.last_name }}" autocapitalize="words">

            </div>
            <div>
                <label for="AddressCompany_{{ form.id }}">
                    {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text" name="address[company]" id="AddressCompany_{{ form.id }}" value="{{ form.company }}"
                    autocapitalize="words">

            </div>
            <div>
                <label for="AddressAddress1_{{ form.id }}">
                    {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}"
                    value="{{ form.address1 }}" autocapitalize="words">

            </div>
            <div>
                <label for="AddressAddress2_{{ form.id }}">
                    {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}"
                    value="{{ form.address2 }}" autocapitalize="words">

            </div>
            <div>
                <label for="AddressCity_{{ form.id }}">
                    {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text" name="address[city]" id="AddressCity_{{ form.id }}" value="{{ form.city }}"
                    autocapitalize="words">

            </div>
            <div>
                <label for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                </label>
                <select name="address[country]" id="AddressCountry_{{ form.id }}" class="address-country-option"
                    data-form-id="{{ form.id }}" data-default="{{ form.country }}">
                </select>

                <div>
                    <label for="AddressProvince_{{ form.id }}">
                        {{ 'customer.addresses.province' | t }}
                    </label>
                    <select name="address[province]" id="AddressProvince_{{ form.id }}"
                        data-default="{{ form.province }}">
                    </select>
                </div>
            </div>
            <div>
                <label for="AddressZip_{{ form.id }}">
                    {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text" name="address[zip]" id="AddressZip_{{ form.id }}" value="{{ form.zip }}"
                    autocapitalize="characters">
            </div>
            <div>
                <label for="AddressPhone_{{ form.id }}">
                    {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" value="{{ form.phone }}"
                    pattern="[0-9\-]*">
            </div>
        </div>
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_{{ form.id }}">
            {{ 'customer.addresses.set_default' | t }}
        </label>

        <button type="submit">{{ 'customer.addresses.update' | t }}</button>
        <button type="button" data-address-toggle data-form-id="{{ form.id }}">
            {{ 'customer.addresses.cancel' | t }}
        </button>

        {% endform %}

    </div>
</div>
{% endfor %}

{% if paginate.pages > 1 %}
{% render 'pagination' %}
{% endif %}

{% endpaginate %}
{%- endcomment -%}
