{%- capture page_title -%}
    {{ 'customer.register.title' | t }}
{%- endcapture -%}
{% comment %}{% render 'page-title', title: page_title %}{% endcomment %}

<div class="py-8 md:py-16">
    <div class="mx-auto w-5/6 md:w-2/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4">
        <h1 class="text-2xl font-medium mb-4">{{ 'customer.register.title' | t }}</h1>
        {% render 'form__register' %}
    </div>
</div>
