{%- capture page_title -%}
    {{ 'customer.reset_password.title' | t }}
{%- endcapture -%}
{% comment %}{% render 'page-title', title: page_title %}{% endcomment %}

<div class="form-reset-password py-8 md:py-16">
    <div class="mx-auto w-5/6 md:w-2/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4">
        <h1 class="text-2xl font-medium mb-4">{{ 'customer.reset_password.title' | t }}</h1>
        <p class="mt-4 mb-8">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {% form 'reset_customer_password' %}
        {% render 'form__error', form: form %}

        <input type="password" name="customer[password]" id="ResetPassword"
            class="form-control {% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password' | t }}">

        <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation"
            class="form-control {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <button type="submit" class="button block w-full mt-4 bg-black text-white">
            {{ 'customer.reset_password.submit' | t }}
        </button>
        {% endform %}
    </div>
</div>
