{%- assign product = all_products[section.settings.featured_product] -%}
{%- assign settings = section.settings -%}
{% if product == empty %}
    {%- assign section_onboarding = true -%}
{% endif %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign show_thumbnails = settings.show_thumbnails -%}

{% capture class %}
    {% if settings.show_quantity_selector %}
        show_quantity_selector
    {% else %}
        hide_quantity_selector
    {% endif %}
    {% if settings.enable_payment_button %}
        enable_payment_button
    {% endif %}
    {% if settings.show_share_buttons %}
        show_share_buttons
    {% endif %}
{% endcapture %}

{% assign image_placement = section.settings.image_placement %}

<section id="sf__featured-product-{{ section.id }}" data-section-type="legacy-featured-product" data-section-id="{{ section.id }}" class="sf-featured-product {{ section.settings.custom_class }} {{ class | strip_newlines }}">
    <div class="section-my {{ section.settings.container }}" style="--column-gap: {{ section.settings.column_gap }}px; --column-gap-mobile: {{ section.settings.column_gap_mobile }}px;">
        <div class="sf-grid flex flex-wrap md:flex-nowrap sf-prod__block{% if image_placement == 'right' %} flex-row-reverse{% endif %}" data-view="featured-product">
            <div class="sf-column w-full md:w-1/2">
                {% unless section_onboarding %}
                        {% render 'product-page__slider-1', product_layout: 'layout-4', product: product, show_thumbnails: show_thumbnails, show_dots: false %}
                {% else %}
                    <div style="--aspect-ratio: 1/1;" class="bg-gray-100">
                        {{ 'product-1' | placeholder_svg_tag: 'object-cover w-full h-full transition-all duration-500 group-hover:scale-105' }}
                    </div>
                {%endunless%}
            </div>
            <div class="sf-column w-full md:w-1/2">
                <div class="sf-prod__info-wrapper h-full relative">
                    <div class="sf-prod__info">
                        <h3 class="prod__type mb-3 text-xs uppercase">
                            {% unless section_onboarding %}
                                {{ product.type }}
                            {% endunless %}
                        </h3>
                        <a class="prod__title text-2xl md:text-3xl leading-10 font-medium mt-5 mb-2" href="{{ product.url }}">
                            {% unless section_onboarding %}
                                {{ product.title }}
                            {% else %}
                                {{ 'homepage.onboarding.product_title' | t }}
                            {% endunless %}
                        </a>
                        <div class="prod_prices mt-2 mb-8 flex items-center">
                            {% unless section_onboarding %}
                                {% render 'product-prices', price_class: 'text-xl' %}
                            {% else %}
                                <span class="text-xl prod__price sf-currency">
                                    {{ 1999 | money }}
                                </span>
                            {% endunless %}
                        </div>
                        <div class="prod__reviews_count mt-8 mb-4">
                            {% render 'product-reviews-app__badge' %}
                        </div>
                        {% unless section_onboarding %}
                            <div class="prod__description leading-7 text-base mt-4 mb-8">{{ product.description | strip_html | truncatewords: 100 }}</div>
                        {% else %}
                            <div class="prod__description leading-7 text-base mt-4 mb-8">{{ 'homepage.onboarding.product_description' | t }}</div>
                        {% endunless %}
                        {% unless section_onboarding %}
                            {% render 'product-form',
                                section_id: section.id,
                                product: product,
                                section: section,
                                current_variant: current_variant,
                                enable_dynamic_checkout: section.settings.enable_payment_button,
                                show_quantity_selector: section.settings.show_quantity_selector
                            %}
                        {% else %}
                            <div class="flex flex-wrap mb-5">
                                <button type="submit" class="add-to-cart sf__btn sf__btn-primary flex-grow flex-shrink relative">
                                    <span>{{ 'products.product.add_to_cart' | t }}</span>
                                </button>
                            </div>
                        {% endunless %}
                        <div class="prod__social_share mt-6 flex text-color-prod-desc">
                            {%- assign socials = "facebook,twitter,pinterest" | split: ',' -%}
                            {% for network in socials %}
                                {% assign url = shop.url | append: product.url %}
                                {% case network %}
                                    {% when "facebook" %}
                                        {% assign url = 'https://www.facebook.com/sharer/sharer.php?u=' | append: url %}
                                    {% when "pinterest" %}
                                        {% assign url = 'https://pinterest.com/pin/create/button/?url=' | append: url %}
                                    {% when "twitter" %}
                                        {% assign url = 'https://twitter.com/intent/tweet?url=' | append: url %}
                                {% endcase %}
                                    <a href="{{ url }}" target="_blank" class="mr-8 flex items-center">
                                        {% render 'icon', name: network, size: 'small' %}
                                        <span class="ml-2">{{ network | capitalize }}</span>
                                    </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {% comment %}start BSS Commerce ltsp{% endcomment %}{% capture bssltspopj %}{{ variant.price | divided_by: 100.00 | json }}{% endcapture %}{% render 'bsscommerce-login-to-see-price-product-json', product: product, old_json: bssltspopj %}{% comment %}end BSS Commerce ltsp{% endcomment %},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
{
  "name": {
    "en": "[Legacy] Featured product"
  },
  "settings": [
    {
        "type": "paragraph",
        "content": "This section is deprecated, we have created a new section with a new structure to easily customize with blocks. Please use new section, we will remove this section in the upcoming version."
    },
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "cs": "Produkt",
        "da": "Produkt",
        "de": "Produkte",
        "en": "Product",
        "es": "Producto",
        "fi": "Tuote",
        "fr": "Produit",
        "it": "Prodotto",
        "ja": "商品",
        "ko": "제품",
        "nb": "Produkt",
        "nl": "Product",
        "pl": "Produkt",
        "pt-BR": "Produto",
        "pt-PT": "Produto",
        "sv": "Produkt",
        "th": "สินค้า",
        "tr": "Ürün",
        "vi": "Sản phẩm",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    },
    {
        "type": "range",
        "id": "column_gap",
        "label": "Item gap",
        "min": 0,
        "max": 200,
        "step": 5,
        "default": 100,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "column_gap_mobile",
        "label": "item gap mobile",
        "min": 0,
        "max": 50,
        "step": 5,
        "default": 30,
        "unit": "px"
    },
    {
        "type": "header",
        "content": "Media"
    },
    {
        "type": "select",
        "id": "image_placement",
        "label": "Media placement",
        "options": [
            {"label": "Left", "value": "left"},
            {"label": "Right", "value": "right"}
        ],
        "default": "left"
    },
    {
        "type": "checkbox",
        "id": "show_thumbnails",
        "label": "Show gallery",
        "default": true
    },
    {
        "type": "header",
        "content": "Others"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exiba um seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkoutknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les options de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
  ],
  "presets": [
    {
      "name": {
        "en": "[Legacy] Featured product"
      }
    }
  ]
}
{% endschema %}
