/*LATEST UPDATED*/
.ac_table1,
.ac_table2,
.ac_table3,
.ac_table4 {
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid black;
  line-height: 1.5;
  width: 100%;
  color: black;
  text-align: center;
}
.ac_table1 .ac__th,
.ac_table2 .ac__th,
.ac_table3 .ac__th {
  border: 1px solid black;
  background-color: transparent;
  padding: 10px !important;
  line-height: 1.5;
  color: black;
  font-size: 14px;
  text-align: center;
  width: 50%;
  font-weight: bold;
  word-break: break-all;
}
.ac_table1 .ac__td,
.ac_table2 .ac__td,
.ac_table3 .ac__td,
.ac_table4 .ac__td {
  border: 1px solid black;
  background-color: transparent;
  padding: 10px !important;
  line-height: 1.5;
  color: black;
  font-size: 14px;
  text-align: center;
  width: 50%;
  font-weight: normal;
  word-break: break-all;
}

.ac_table1 .ac__th:after,
.ac_table2 .ac__th:after,
.ac_table3 .ac__th:after,
.ac_table4 .ac__td:after {
  content: none;
}

/* Quantity Range Grid */
.ac_table2 .ac__th {
  width: 33.33%;
}
.ac_table2 .ac__td {
  width: 33.33%;
}

/* Detailed Grid  */
.ac_table3 .ac__th {
  width: 33.33%;
}
.ac_table3 .ac__td {
  width: 33.33%;
}

/* Simple Message  */
.ac_table4 {
  border: transparent !important;
}
.ac_table4 .ac__td {
  width: 100%;
  border: transparent !important;
  text-align: left;
}
#saved-banner {
  color: #138C19;
  font-weight: bold;
  font-size: inherit;
}