{% comment %}
  Custom CSS here
  All custom CSS in this file will be kept when updating the theme
{% endcomment %}


@font-face {
  font-family: SF-Heading-font;
  font-weight: 400;
  src: url(https://cdn.shopify.com/s/files/1/0561/2742/2636/files/Jost-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Heading-font;
  font-weight: 500;
  src: url(https://cdn.shopify.com/s/files/1/0561/2742/2636/files/Jost-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Heading-font;
  font-weight: 600;
  src: url(https://cdn.shopify.com/s/files/1/0561/2742/2636/files/Jost-Regular.ttf);
  font-display: swap;
}


.notAuthorizedBox * {
  font-size: 15px !important;
}

.sf-menu__submenu.sf-menu__desktop-sub-menu .collection-card h3 * {
  color: #1A3C6D;
  text-align: center;
}
sup.font-semibold.text-xs.text-black {
    display: none;
}
.page-faq-new .page-header__breadcrumb.mt-2 {
    display: none;
}
.page-faq-new .section-my {
    margin-top: 47px;
    margin-bottom: 0px;
}
section#sf__img-with-text-template--15294247829694__1641224455206bcfee {
    margin-top: 50px;
}
@media (max-width: 768px) {

  .sf-menu-wrapper.sf-menu-wrapper-mobile li a {
    color: #1A3C6D;
  }

  .sf-menu-wrapper.sf-menu-wrapper-mobile .mega-menu-customer button.sf__btn-secondary {
    color: #1A3C6D;
  }

  .sf-language-switcher .select-selected > span {
    color: #1A3C6D;
  }

  footer .sf__accordion-item .sf__accordion-button:after {
    background-image: var(--arrow-down-white-url);
  }

  body.template-index .sf__slide-bg {
    position: relative !important;
  }
}

[id$="16225125199f82d8fe"] {
  border-top: none !important;
}